multifield component
<div data-sly-use.multiItems="com.test.e1.core.models.Multifield">
    <div data-sly-list.head="${multiItems.myUserSubmenu.listChildren}">
        <p>
            <b>Name:</b> ${head.pathmf}
        </p>
        <p>
            <b>address:</b> ${head.desc}
        </p>

    </div>
</div>