MF NonComposite Component
<div data-sly-use.mi="com.test.e1.core.TouchMultiComponent">

<div data-sly-list.h="${mi.multiFieldItems}">

<p><b>Page Name:</b> ${h.title1}</p>
<p><b>Page Path:</b> ${h.path1}</p>
<p><b>Flag:</b> ${h.flag1}</p>
</div>
</div>